# Listas em Python

## Estrutura:

lista = [valor, valor, valor, valor, ...]

lista[i] -> é o valor de índice i da lista. <br>
Obs: Lembre que no python o índice começa em 0, então o primeiro item de uma lista é o item lista[0]

Para substituir um valor de uma lista você pode fazer:<br>
lista[i] = novo_valor

Listas de Produtos de uma Loja:

In [2]:
produtos = ['tv', 'celular', 'mouse', 'teclado', 'tablet']
print(produtos[0])
print(produtos[1])
print(produtos[2])
print(produtos[3])
print(produtos[4])

tv
celular
mouse
teclado
tablet

Lista de Unidades Vendidas de cada Produto da Loja

In [3]:
vendas = [1000, 1500, 350, 270, 900]
print(vendas[0])
print(vendas[1])
print(vendas[2])
print(vendas[3])
print(vendas[4])

1000
1500
350
270
900

### Nesse caso, as listas funcionam da seguinte forma:

produtos = ['tv', 'celular', 'mouse', 'teclado', 'tablet']
              0 ,      1   ,    2   ,     3    ,     4   
vendas = [  1000,    1500  ,   350  ,    270   ,    900  ]

In [15]:
vendas[3] = 300
vendas[4] = 1200
print('As vendas do produto "{}" e "{}" foram de, respectivamente, {} e {} unidades.'.format(produtos[3], produtos[4], vendas[3], vendas[4]))

As vendas do produto "teclado" e "tablet" foram de, respectivamente, 300 e 1200 unidades.

In [30]:
texto = 'vinicius@yahoo.com'
print(texto[0:5].casefold())

texto = texto.replace('i', 'e')
texto = texto.replace('o', 'u')
print(texto)

texto1 = texto.replace('i', 'e')
texto1 = texto1.replace('o', 'u')
print(texto1)

vinic
veneceus@yahuu.cum
veneceus@yahuu.cum